{% extends "@frontend/default.html.twig" %}
{% set title = 'Alexis Rouillard | Développeur' %}
{% block content %}
    <div class="grid">
        <div class="widget panel panel-default col-xs-5">
            <a href="https://github.com/Leigende/EayoCMS">
                <img src="{{url('CMS.jpg', 'UPLOAD')}}" />
                <div class="panel-body">
                    EayoCMS<br>Blazing fast CMS !
                </div>
            </a>
        </div>
        <div class="widget panel panel-default col-xs-5">
            <a href="https://github.com/Leigende/Anna">
                <img src="{{url('AI.jpg', 'UPLOAD')}}" />
                <div class="panel-body">
                    Anna<br>Just a simple personnal assistant.
                </div>
            </a>
        </div>
        <div class="widget panel panel-default col-xs-5">
            <a href="#" data-toggle="modal" data-target="#modalWolf">
                <img src="{{url('wolf3d.jpg', 'UPLOAD')}}" />
                <div class="panel-body">
                    Projets d'etudes: Wolf3d
                </div>
            </a>
        </div>
        <div class="widget panel panel-default col-xs-5">
            <a href="#" data-toggle="modal" data-target="#modalRaytracer">
                <img src="{{url('raytracer.jpg', 'UPLOAD')}}" />
                <div class="panel-body">
                    Projets d'etudes: Raytracer
                </div>
            </a>
        </div>
    </div>
    <div class="modal fade" id="modalWolf" tabindex="-1" role="dialog" aria-labelledby="modalWolfLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Projets d'etudes: Wolf3d</h4>
                </div>
                <img src="{{url('wolf3d.jpg', 'UPLOAD')}}" />
                <div class="modal-body">
                    <hr/>
                    Wolf3d est un moteur de raycasting simulant de la 3D.
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalRaytracer" tabindex="-1" role="dialog" aria-labelledby="modalRaytracerLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Projets d'etudes: Raytracer</h4>
                </div>
                <img src="{{url('raytracer.jpg', 'UPLOAD')}}" />
                <div class="modal-body">
                    <hr/>
                    Le Raytracer est un moteur de projection de lancer de rayons réaliste.
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ parent() }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.3/isotope.pkgd.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.1/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/louisremi/jquery-smartresize/master/jquery.debouncedresize.js"></script>
{% endblock %}